a h4 .home:hover {
    margin-bottom: 3px;
}

.jumbotron {
    color: whitesmoke;
    background-color: #f44336;
    text-align: center;
    text-decoration: wavy;
    position: relative;
    ;
}

.jumbotron-fluid {
    -moz-box-shadow: 0 10px 5px -5px #999;
    -webkit-box-shadow: 0 10px 5px -5px #999;
    box-shadow: 0 10px 5px -5px #999;
}

.card-img {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    shadow
}

.btn {
    text-align:
}

.jumbotron {
    z-index: depth;
}

.c-2 {
    background-color: #f44336;
}

.col-md-4:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 41px -2px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 41px -2px rgba(0, 0, 0, 0.57);
}

.tech {
    -webkit-box-shadow: 5px 5px 26px 5px rgba(0, 0, 0, 0.35);
    box-shadow: 5px 5px 26px 5px rgba(0, 0, 0, 0.35);
}

.fas {
    animation-name: bounch;
    animation-duration: 3s;
}